.candidateBystage{
    width: 300px;
    height:300px;
    padding: 25px;
    border: 25px #FF4411;
    margin: 0 25px 25px;
    box-shadow: 2.5px 2.5px 2.5px #888888;
    display:inline-block;
}

.candidateBystageHeader{
	background-color:#FF4411;
	border: 25px;
	width: 300px;
    height:30px;
    text-align:center;
    font-weight:bold;
	color:white;
}

.candidateBystageCandidates{
	width: 300px;
    height:240px;
    text-align:center;
    font-weight:bold;
    overflow: scroll;
}

.candidateBystageFooter{
	background-color:#FF4411;
	border: 25px;
	width: 300px;
    height:30px;
    text-align:center;
    font-weight:bold;
	color:white;
}